{% extends 'base.html.twig' %} {% block title %}AreaPrivata!{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="css/APgenerale.css">
<link rel="stylesheet" href="css/APnavbar.css">
<link rel="stylesheet" href="css/APmealcard.css">
<link rel="stylesheet" href="css/APcard.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="css/APprogbar.css"> {% endblock %} {% block body %}


<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
        <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
        <div class="image-wrapper">
            <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
        </div>
        <div class="sidebar-layout">
            <div class="sidebar-header">
                <div class="pro-sidebar-logo">
                    <div>allah</div>
                    <h5>Ciao, <br>
                        {{ app.user.email }}
                        {% for role in app.user.roles %}
                        {% endfor %}
                    </h5>

                </div>
            </div>
            <div class="sidebar-content">
                <nav class="menu open-current-submenu">
                    <ul>
                        <li class="menu-header"><span> GENERALE </span></li>
                        
                        <li class="menu-item">
                            <a href="{{path("app_privatearea")}}">
                                <span class="menu-icon">
                                    <i class="ri-home-2-fill"></i>
                                </span>
                                <span class="menu-title">Home</span>
                                <span class="badge primary">Hot</span>
                            </a>
                        </li>


                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                      <i class="ri-bar-chart-2-fill"></i>
                    </span>
                                <span class="menu-title">Grafici</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="{{path("graphics_page")}}">
                                        <span class="menu-icon">
                                            <i class="ri-pie-chart-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Pie chart</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path("line_graphics_page")}}">
                                        <span class="menu-icon">
                                            <i class="ri-line-chart-line"></i>
                                        </span>
                                            <span class="menu-title">Line chart</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                      <i class="ri-dashboard-fill"></i>
                    </span>
                                <span class="menu-title">Dashboard</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-calendar-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Calendario</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path('obbiettivi_area')}}">
                                        <span class="menu-icon">
                                            <i class="ri-profile-fill"></i>
                                        </span>
                                            <span class="menu-title">Obbiettivi</span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                        
                        
                        <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li>
                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="ri-account-circle-fill"></i>
                                </span>
                                <span class="menu-title">Account</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="{{path('account_page')}}">
                                        <span class="menu-icon">
                                            <i class="ri-account-pin-circle-fill"></i>
                                        </span>
                                            <span class="menu-title">
                                                {{ app.user.email }}
                                                {% for role in app.user.roles %}
                                                {% endfor %}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-arrow-left-right-fill"></i>
                                        </span>
                                            <span class="menu-title">Cambia Account</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ logout_path() }}">
                                        <span class="menu-icon">
                                            <i class="ri-logout-box-r-fill"></i>
                                        </span>
                                            <span class="menu-title">Log-Out</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-settings-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Impostazioni</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        
                    </ul>
                </nav>
            </div>
            <div class="sidebar-footer">
                <div class="footer-box">
                    <div>
                        <img class="react-logo" src="{{ asset('images/icons/Accorpati.png') }}" alt="react" />
                    </div>
                    <div style="padding: 0 10px">
                        <span style="display: block; margin-bottom: 10px">Pro sidebar is also available as a react package
                </span>
                        <div style="margin-bottom: 15px">
                            <img alt="preview badge" src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                        </div>
                        <div>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">Check it out!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div id="overlay" class="overlay"></div>
      <main class="content">
        <div class="content-header">
        <a id="btn-toggle" class="header-toggle">
            <i class="ri-menu-line"></i>
        </a>
                        </div>
                        <div class="content-main">




                            <div class="dashboard-layout">

                                <aside class="dashboard-left">
                                <article class="card donut-card">
                                    <div class="card-header">
                                        <div >
                                            <span><img src="{{ asset('images/icons/iconMA3.png') }}" /></span>
                                            <h2>Macronutrienti</h2>
                                        </div>
                                    </div>
                                    <div class="donut-card-body">
                                        <canvas id="myDoughnutChart"></canvas>
                                    </div>

                                    <div class="card-footer">
                                        <span style="font-size: 0.8rem; color: var(--c-text-secondary);">
                                            More
                                        </span>
                                    </div>
                                </article>
                                    <div class="cardPB">
                                        <div class="cardPB-header">
                                            <div>
                                                <span><img src="{{ asset('images/icons/iconPB1.png') }}" alt=""></span>
                                                <h3>Obiettivi Over 35%</h3>
                                            </div>
                                        </div>

                                        <div class="cardPB-body">

                                            {% for goal in topGoals %}
                                                {% set percentage = goal.getPercentage() %}
                                                {% if percentage > 100 %}
                                                    {% set percentage = 100 %}
                                                {% endif %}
                                                <div class="pb-item" data-goal-id="{{ goal.id }}">
                                                    <label>{{ goal.name }} ({{ goal.goalQuantity }})</label>
                                                    <progress value="{{ percentage }}" max="100" style="--value: {{ percentage }}; --max: 100;"></progress>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </aside>
<!--
                                <aside class="dashboard-left">
                                    <div class="cardPB">
                                        <div class="cardPB-header">
                                            <div>
                                                <span><img src="{{ asset('images/icons/iconPB1.png') }}" alt=""></span>
                                                <h3>Obiettivi Under 20%</h3>
                                            </div>
                                        </div>

                                        <div class="cardPB-body">

                                            {% for goal in bottomGoals %}
                                                {% set percentage = goal.getPercentage() %}
                                                <div class="pb-item">
                                                    <label>{{ goal.name }} ({{ goal.goalQuantity }})</label>
                                                    <progress value="{{ percentage }}" max="100" style="--value: {{ percentage }}; --max: 100;"></progress>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </aside>
-->
                                <section class="dashboard-right">
                                    <div class="card-grid">
                                        <article class="card">
                                            <div class="card-header">
                                                <div>
                                                    <span><img src="{{ asset('images/icons/iconB3.png') }}" /></span>
                                                    <h3>Bicchieri d'acqua</h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p>Quanti bicchieri d'acqua hai bevuto oggi?</p>
                                                <div class="counter">
                                                    <button class="decrease">-</button>
                                                    <span id="waterCount" class="count">0</span>
                                                    <button class="increase">+</button>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button data-type="waterButton" class="save-btn">Salva</button>
                                            </div>
                                        </article>



                                        <article class="card">
                                            <div class="card-header">
                                                <div>
                                                    <span><img src="{{ asset('images/icons/iconM3.png') }}" /></span>
                                                    <h3>Ore di sonno</h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p>Quante ore di sonno hai fatto?</p>
                                                <div class="counter">
                                                    <button class="decrease">-</button>
                                                    <span id="sleepCount" class="count">0</span>
                                                    <button class="increase">+</button>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button data-type="sleepButton" class="save-btn">Salva</button>
                                            </div>
                                        </article>


                                        <article class="card">
                                            <div class="card-header">
                                                <div>
                                                    <span><img src="{{ asset('images/icons/iconS2.png') }}" /></span>
                                                    <h3>Ore di sole</h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p>Quante ore di sole hai fatto?</p>
                                                <div class="counter">
                                                    <button class="decrease">-</button>
                                                    <span id="sunCount" class="count">0</span>
                                                    <button class="increase">+</button>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button data-type="sunButton" class="save-btn">Salva</button>
                                            </div>
                                        </article>
                                        <article class="card meal-selector-card">

                                            <div class="meal-selector-header">
                                                <span><img src="{{ asset('images/icons/iconME3.png') }}" /></span>
                                                <h3>Selezione pasti</h3>

                                            </div>

                                            <div class="meal-selector-body">
                                                <div class="meal-row">
                                                <label for="pasto">Pasto</label>
                                                <select data-type="selectPasto" id="pasto" name="pasto">
                                                    <option value="">Seleziona...</option>
                                                    <option value="colazione">Colazione</option>
                                                    <option value="pranzo">Pranzo</option>
                                                    <option value="cena">Cena</option>
                                                </select>
                                                </div>

                                                <div class="meal-row">
                                                <label for="tipo">Tipo</label>
                                                <select data-type="selectPasto" id="tipo" name="tipo">
                                                    <option value="">Seleziona...</option>
                                                    <option value="proteico">Proteico</option>
                                                    <option value="light">Light</option>
                                                    <option value="normale">Normale</option>
                                                    <option value="grassa">Grassa</option>
                                                    <option value="abbondante">Abbondante</option>
                                                    <option value="leggera">Leggera</option>
                                                </select>
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button disabled id="save_button" class="save-btn">Salva</button>
                                            </div>
                                        </article>
                                         <article class="card meal-selector-card">

                                            <div class="meal-selector-header">
                                                <span><img src="{{ asset('images/icons/iconAF4.png') }}" /></span>
                                                <h3>Attività fisica</h3>

                                            </div>

                                            <div class="meal-selector-body">
                                                <div class="meal-row">
                                                <label for="pasto">Tipo</label>
                                                <select id="pasto" name="pasto">
                                                    <option value="">Seleziona...</option>
                                                    <option value="colazione">Nuoto</option>
                                                    <option value="pranzo">Corsa</option>
                                                    <option value="cena">Camminata</option>
                                                    <option value="cena">Basket</option>
                                                    <option value="colazione">Pallavolo</option>
                                                    <option value="pranzo">Calcio</option>
                                                    <option value="cena">Tennis</option>
                                                    <option value="colazione">Padel</option>
                                                    <option value="pranzo">Pallamano</option>
                                                </select>
                                                </div>
                                                <div class="counter">
                                                    <button class="decrease">-</button>
                                                    <span class="count">0</span>
                                                    <button class="increase">+</button>
                                                </div>
                                            </div>

                                                
                                            

                                            <div class="card-footer">
                                                <button id="save_button" class="save-btn">Salva</button>
                                            </div>
                                        </article>
                                    </div>
                                </section>

                            </div>


                        </div>

                        <footer class="footer">
                            <small style="margin-bottom: 20px; display: inline-block">
                                © 2025 realizzato con <3 da - Gruppo 11 
                            </small>
                            <br />
                            <div class="social-links">
                                <a href="" target="_blank">
                                    <i class="ri-github-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-instagram-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-facebook-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-linkedin-box-fill ri-xl"></i>
                                </a>
                            </div>
                        </footer>

                        </main>
                    </div>
                    <script src="https://unpkg.com/@popperjs/core@2"></script>
                    <script src="javascript/APnavbarjs.js"></script>
                    <script src="javascript/APcounter.js"></script>
    <script>

        document.querySelectorAll('[data-type="selectPasto"]')
            .forEach(el => {
                el.addEventListener('change', function () {

                    let disable = false;
                    const button = document.getElementById("save_button");

                    document.querySelectorAll('[data-type="selectPasto"]')
                        .forEach(el => {
                            if (!el.value){
                                disable = true;
                            }
                        })
                    button.disabled = disable;
                });
            });


        document.getElementById('save_button').addEventListener('click',function(){
            const pasto = document.getElementById('pasto');
            const tipo = document.getElementById('tipo');

            console.log(pasto.value, tipo.value);

            if (pasto.value && tipo.value){
                this.disabled=true;
                fetch('/pasto/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({
                        pasto: pasto.value,        // colazione | pranzo | cena
                        tipo: tipo.value      // normale | grassa | ecc
                    })
                })
                    .then(response => {
                        return response.json().then(data => {
                            if (!response.ok) {
                                throw new Error(data.error || 'Errore di salvataggio');
                            }
                            return data;
                        });
                    })
                    .then(data => {
                        console.log('Salvato:', data);

                        chart.data.datasets[0].data = [
                            data.carboidrati,
                            data.grassi,
                            data.proteine
                        ]

                        chart.update();

                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'success',
                            title: 'Pasto creato con successo',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true
                        });

                    })
                    .catch(error => {
                        console.error('Errore:', error);
                        Swal.fire({
                            icon: 'error',
                            title: error.message,
                            confirmButtonColor: '#d33'
                        });
                    })
                    .finally(() => {
                        this.disabled = false;
                    })
            }

        })
    </script>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="{{ asset('javascript/donutgraph.js') }}"></script>

{% endblock %}
