{% extends 'base.html.twig' %} {% block title %}AreaPrivata!{% endblock %} {% block stylesheets %}

<link rel="stylesheet" href="css/APnavbar.css">
<link rel="stylesheet" href="css/APobbiettivicard.css">
<link rel="stylesheet" href="css/APcard.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %} {% block body %}

<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
        <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
        <div class="image-wrapper">
            <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
        </div>
        <div class="sidebar-layout">
            <div class="sidebar-header">
                <div class="pro-sidebar-logo">
                    <img src="{{ asset('images/icons/FitCenterP.png') }}" alt="FitCenter" style="max-width: 80px; min-width: 80px;position: relative; right: 20px;" />
                    <h5>Ciao, <br>
                        {{ app.user.username }}
                        {% for role in app.user.roles %}
                        {% endfor %}
                    </h5>

                </div>
            </div>
            <div class="sidebar-content">
                <nav class="menu open-current-submenu">
                    <ul>
                        <li class="menu-header"><span> GENERALE </span></li>

                        <li class="menu-item">
                            <a href="{{path("app_privatearea")}}">
                                <span class="menu-icon">
                                    <i class="ri-home-2-fill"></i>
                                </span>
                                <span class="menu-title">Home</span>
                                
                            </a>
                        </li>


                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                      <i class="ri-bar-chart-2-fill"></i>
                    </span>
                                <span class="menu-title">Grafici</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="{{path("graphics_page")}}">
                                        <span class="menu-icon">
                                            <i class="ri-pie-chart-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Pie chart</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path("line_graphics_page")}}">
                                        <span class="menu-icon">
                                            <i class="ri-line-chart-line"></i>
                                        </span>
                                            <span class="menu-title">Line chart</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                      <i class="ri-dashboard-fill"></i>
                    </span>
                                <span class="menu-title">Dashboard</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-calendar-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Calendario</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path('obbiettivi_area')}}">
                                        <span class="menu-icon">
                                            <i class="ri-profile-fill"></i>
                                        </span>
                                            <span class="menu-title">Obbiettivi</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>


                        <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li>
                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="ri-account-circle-fill"></i>
                                </span>
                                <span class="menu-title">Account</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="{{path('account_page')}}">
                                        <span class="menu-icon">
                                            <i class="ri-account-pin-circle-fill"></i>
                                        </span>
                                            <span class="menu-title">
                                                {{ app.user.username }}
                                                {% for role in app.user.roles %}
                                                {% endfor %}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-arrow-left-right-fill"></i>
                                        </span>
                                            <span class="menu-title">Cambia Account</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ logout_path() }}">
                                        <span class="menu-icon">
                                            <i class="ri-logout-box-r-fill"></i>
                                        </span>
                                            <span class="menu-title">Log-Out</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-settings-2-fill"></i>
                                        </span>
                                            <span class="menu-title">Impostazioni</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                </nav>
            </div>
            
        </div>
      </aside>
      <div id="overlay" class="overlay"></div>
      <main class="content">
        <div class="content-header">
            <a id="btn-toggle" class="header-toggle">
                <i class="ri-menu-line"></i>
            </a>

                        <div class="wrapper">
                        <div class="card">
                            <h1>Inserimento Obiettivo</h1>

                            <div class="field">
                            <label>Nome</label>
                            <input data-type="goals-input" id="nome_att" type="text" placeholder="Nome obiettivo">
                            </div>

                            <div class="field">
                            <label>Data Fine</label>
                            <input data-type="goals-input" id="data_att" type="date">
                            </div>

                            <div class="field">
                            <label>Tipo</label>
                            <select data-type="goals-input" id="tipo_att">
                                <option value="">Seleziona...</option>
                                <option value="acqua">Acqua</option>
                                <option value="sonno">Ore di sonno</option>
                                <option value="sole">Ore di sole</option>
                                <option value="nutrizione">Nutrizione</option>
                            </select>
                            </div>

                            <div class="field">
                            <label>Quantità</label>
                            <input data-type="goals-input" id="quantita_att" type="number" placeholder="Quantità">
                            </div>

                            <button disabled id="save_goal">Crea obbiettivo</button>
                        </div>
                        </div>
                        <footer class="footer">
                            <small style="margin-bottom: 20px; display: inline-block">
                                © 2025 realizzato con <3 da - Gruppo 10
                            </small>
                            <br />
                            <div class="social-links">
                                <a href="" target="_blank">
                                    <i class="ri-github-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-instagram-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-facebook-fill ri-xl"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="ri-linkedin-box-fill ri-xl"></i>
                                </a>
                            </div>
                        </footer>
                        </main>
                    </div>

                    <script src="https://unpkg.com/@popperjs/core@2"></script>
                    <script src="javascript/APnavbarjs.js"></script>
                    <script src="javascript/APcounter.js"></script>

                    <script>

                        document.querySelectorAll('[data-type="goals-input"]')
                            .forEach(el => {
                                el.addEventListener('change', function () {

                                    let disable = false;
                                    const button = document.getElementById("save_goal");

                                    document.querySelectorAll('[data-type="goals-input"]')
                                        .forEach(el => {
                                            if (!el.value){

                                                disable = true;
                                            }
                                        })
                                    button.disabled = disable;
                                });
                            });

                        document.getElementById('save_goal').addEventListener('click',function(){

                            const nomeGoal = document.getElementById('nome_att');
                            const dataGoal = document.getElementById('data_att');
                            const tipoGoal = document.getElementById('tipo_att');
                            const quantitaGoal = document.getElementById('quantita_att');

                            if (nomeGoal.value && dataGoal.value && tipoGoal.value && quantitaGoal.value){
                                this.disabled = true;

                                fetch('/obiettivo/create', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest'
                                    },
                                    body: JSON.stringify({
                                        nomeGoal: nomeGoal.value,
                                        dataGoal : dataGoal.value,
                                        tipoGoal : tipoGoal.value,
                                        quantitaGoal : quantitaGoal.value
                                    })
                                })
                                    .then(response => {
                                        return response.json().then(data => {
                                            if (!response.ok) {
                                                throw new Error(data.error || 'Errore di salvataggio');
                                            }
                                            return data;
                                        });
                                    })
                                    .then(data => {
                                        console.log('Salvato:', data);

                                        Swal.fire({
                                            toast: true,
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'Obiettivo inserito con successo',
                                            showConfirmButton: false,
                                            timer: 3000,
                                            timerProgressBar: true
                                        });

                                    })
                                    .catch(error => {
                                        console.error('Errore:', error);
                                        Swal.fire({
                                            icon: 'error',
                                            title: error.message,
                                            confirmButtonColor: '#d33'
                                        });
                                    })
                                    .finally(() => {
                                        this.disabled = false;
                                    })

                            }

                        })

                    </script>

                    {% endblock %}
