{% extends 'base.html.twig' %}

{% block title %}Lista obiettivi{% endblock %}

{% block body %}

<h1> Goals </h1>

<a href="{{ path('goal_new') }}">Nuovo Obiettivo</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Scadenza</th>
        </th>
    <thead>
    <tbody>
        {% for goal in goals %}
            <tr>
                <td>
                    <a href="{{ path('goal_show', {'id': goal.id}) }}">
                        {{ goal.name }}
                    </a>
                </td>
                <td>{{ goal.quantity }} di {{ goal.goalQuantity }}</td>
                <td>{{ goal.expiration|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
